---
import AboutMeContent from './AboutMeContent.jsx';
---

<section class="mt-28 sm:mt-48" id="AboutMe">
  <div class="relative text-white flex flex-col items-center justify-center">
    <h3 class="text-base sm:text-lg font-InterTight tracking-widest text-white drop-shadow-[0_0_6px_rgba(255,255,255,0.8)] items-center">
      <span class="mr-3">✦</span>
      ÜBER MICH
      <span class="ml-3">✦</span>
    </h3>

    <h2 class="text-3xl sm:text-5xl font-NyghtSerif mt-4 text-transparent bg-clip-text px-2 bg-gradient-to-b from-white to-accent drop-shadow-[0_0_6px_rgba(255,255,255,0.3)]">
      Wer bin ich?
    </h2>
  </div>

  <AboutMeContent client:load />
</section>