<div class="relative flex items-center space-x-3 px-2 py-1 mt-10 rounded-full border border-gray-500 animate-text-up">
    <!-- SVG -->
    <img src="/assets/email.svg" alt="Email icon" class="w-5 h-5 opacity-30">

    <!-- Email -->
    <p class="text-white text-sm">contact@luisfernandez.info</p>

    <!-- Copy Button -->
    <button class="bg-nose px-2 py-1 rounded-full text-white text-sm cursor-pointer">
        Kopieren
    </button>
</div>