<div class="hidden relative sm:flex items-center space-x-3 px-2 py-1 mt-10 rounded-full border border-gray-500 animate-text-up">
    <!-- SVG -->
    <img src="/assets/email.svg" alt="Email icon" class="w-5 h-5 opacity-30">

    <!-- Email -->
    <p id="EmailText" class="text-white text-sm">luisferdas06@gmail.com</p>

    <!-- Copy Button -->
    <button id="CopyBtn" class="bg-nose px-2 py-1 rounded-full text-white text-sm cursor-pointer" aria-label="E-Mail Adresse kopieren">
        Kopieren
    </button>
</div>

<button class="relative flex sm:hidden mt-10 h-12 w-32 rounded-full items-center justify-center overflow-hidden bg-white text-black shadow-2xl transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-quatenario before:duration-500 before:ease-out hover:shadow-white hover:before:h-56 hover:before:w-56">
    <span class="relative z-10 text-sm">Sprechen wir</span>
</button>

<script src="../../public/scripts/CopyEmail.js"></script>