---
import Position from './position.tsx'
import EmailBox from './EmailBox.astro'
import Carrousel from './Carrousel.astro'
---

<section class="relative flex flex-col items-center justify-center h-screen text-center px-6">
  <p class="text-gray-400 text-xl font-MonaSans font-semibold cursor-default animate-text-up">
    Hallo, ich bin Luis Fernández
  </p>

  <Position />

  <EmailBox />

  <div class="absolute bottom-28 w-full">
    <Carrousel />
  </div>
</section>