<section class="relative flex flex-col items-center justify-center h-screen text-center px-6 -translate-y-5">
  <p class="text-gray-400 text-xl font-MonaSans font-semibold cursor-default">Hallo, ich bin Luis Fernández</p>

  <h1 class="text-7xl font-InstrumentSerif text-white leading-tight mt-5 cursor-default">
    Applikationsentwickler <br> in der Schweiz
  </h1>
</section>