<div class="fixed z-20 top-10 left-8 flex items-center sm:flex md:hidden">
  <button
    id="menu-toggle"
    class="flex items-center justify-center w-12 h-12 rounded-full bg-navbarBG border-2 border-navbarBorder shadow-lg transition duration-300"
    aria-label="Open menu"
  >
    <img src="assets/favicon.svg" alt="Burger menu icon" class="w-12 h-12 object-contain" />
  </button>
</div>

<!-- Mobile navbar -->
<div id="mobile-menu" class="fixed top-0 left-0 w-full h-full bg-nose bg-opacity-90 z-30 transform -translate-x-full transition-transform duration-300">
  <div class="flex flex-col items-center justify-center h-full space-y-6">
    <!-- Sections -->
    <a href="#Projects" class="text-white text-xl" id="menu-projects">Projekten</a>
    <a href="#AboutMe" class="text-white text-xl" id="menu-aboutMe">Über mich</a>
    <a href="#Skills" class="text-white text-xl" id="menu-skills">Kenntnisse</a>
    <a href="#Education" class="text-white text-xl" id="menu-education">Ausbildung</a>
    <a href="#Contact" class="text-white text-xl" id="menu-contact">Kontakt</a>

    <!-- Button to close the menu -->
    <button id="menu-close" class="absolute top-6 right-6 text-white text-3xl">&times;</button>
  </div>
</div>

<!-- Responsive navbar -->
<nav
  class="fixed z-40 top-6 left-1/2 transform -translate-x-1/2 bg-navbarBG border border-navbarBorder shadow-lg rounded-full items-center justify-around w-full md:w-3/4 lg:w-[50%] max-w-xl h-14 hidden md:flex"
>
  <div class="relative w-full flex items-center justify-between h-full">
    <!-- Led on the top -->
    <div
      id="led-bar"
      class="absolute top-0 left-0 h-1 w-20 bg-white rounded-full transition-all duration-300 ease-in-out transform"
      style="box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff;"
    ></div>

    <!-- Position indicator -->
    <div
      id="active-indicator"
      class="absolute top-1/2 left-0 h-8 bg-navbarBorder rounded-lg transition-all duration-300 ease-in-out transform -translate-y-1/2"
    ></div>

    <!-- Navigation sections -->
    <a
      href="#Projects"
      class="relative z-10 px-4 py-0 ml-2 rounded-full text-white font-medium h-full flex items-center text-sm md:text-base"
    >
      Projekten 
    </a>
    <a
      href="#AboutMe"
      class="relative z-10 px-4 py-0 rounded-full text-white font-medium h-full flex items-center text-sm md:text-base"
    >
      Über mich
    </a>
    <a
      href="#Skills"
      class="relative z-10 px-4 py-0 rounded-full text-white font-medium h-full flex items-center text-sm md:text-base"
    >
      Kenntnisse
    </a>
    <a
      href="#Education"
      class="relative z-10 px-4 py-0 rounded-full text-white font-medium h-full flex items-center text-sm md:text-base"
    >
      Ausbildung
    </a>
    <a
      href="#Contact"
      class="relative z-10 px-4 py-0 mr-2 rounded-full text-white font-medium h-full flex items-center text-sm md:text-base"
    >
      Kontakt
    </a>
  </div>
</nav>

<script src="../../public/scripts/NavbarScript.js"></script>