<section class="mt-14">
    <div class="relative text-white flex flex-col items-center justify-center">

      <h2 class="text-lg font-InterTight tracking-widest text-white drop-shadow-[0_0_6px_rgba(255,255,255,0.8)] items-center">
        <span class="mr-3">✦</span>
        PROJEKTE
        <span class="ml-3">✦</span>
      </h2>
      
      <h3 class="text-5xl font-NyghtSerif text-transparent bg-clip-text leading-normal bg-gradient-to-b from-white to-accent drop-shadow-[0_0_6px_rgba(255,255,255,0.3 )]">
        Einige meiner Arbeiten
      </h3>
    </div>
  </section>