<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Luis Fernández</title>
	</head>
	<body class="bg-black">
		<!-- Canvas to the background -->
		<canvas id="backgroundCanvas"></canvas>
	
		<slot />

		<!-- Script to generate the background -->
		<script src="/scripts/background.js" defer></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
